.eb-container{text-align:left}
.edocman-container img{border:0 none}
.edocman-container h1,.edocman-container h2,.edocman-container h3{width:auto!important;margin:5px 0!important;padding:0!important}
.edocman-filter-order{display:inline-block;float:right}
.edocman-filter-dir{float:right;display:inline-block}
.edocman-description{padding:0 5px 0 0;margin:0}
img.edocman-thumb-left{float:left!important}
.grid img.edocman-thumb-left{margin:0!important;float:none!important}
img.edocman-thumb-right{margin:0 0 0 15px !important;float:right!important}
#edocman-categories h2.edocman-category-title{margin:14px 0!important}
#edocman-categories .edocman-category,#edocman-documents .edocman-document{margin-bottom:20px}
#edocman-categories .edocman-box-heading,#edocman-documents .edocman-box-heading,#edocman-document-page .edocman-box-heading{border-radius:5px 5px 0 0;color:#333;font-size:14px;font-weight:700;line-height:14px;padding:4px 8px;margin:0}
#edocman-categories .edocman-box-heading h3,#edocman-documents .edocman-box-heading h3,#edocman-document-page .edocman-box-heading h3{margin:0}
.edocman-box-heading .dropdown-menu [class^="icon-"]:before,.edocman-box-heading .dropdown-menu [class*=" icon-"]:before{position:relative;left:-5px}
#edocman-categories .edocman-description,#edocman-documents .edocman-description,#edocman-document-page .edocman-description{background:#fff;border-radius:0 0 7px 7px;margin:0;padding:10px}
#edocman-categories .edocman-category img{margin:0 10px 0 0;padding:0!important}
#edocman-categories .edocman-box-heading,#edocman-documents .edocman-box-heading,#edocman-document-page .edocman-box-heading{background:#f2f2f2 url(../images/background.png) repeat-x 0 0;border:1px solid #DBDEE1}
#edocman-categories .edocman-description,#edocman-documents .edocman-description,#edocman-document-page .edocman-description{border-bottom:1px solid #DBDEE1;border-left:1px solid #DBDEE1;border-right:1px solid #DBDEE1}
.edocman-description-details{text-align:left;}
.edocman-description-details p{text-align:left}
#edocman-category{padding:10px 0}
#edocman-category h1.edocman-page-heading{margin:0 0 10px!important}
.edocman-document .edocman-document-properties{width:290px;background:#ECF4FB;padding:5px 5px 5px 10px;margin:0 5px 5px;float:right}
td.edocman-document-property-label{width:110px;text-align:left;font-weight:700}
#edocman-documents h3.edocman-document-title img{float:left!important;margin:0 10px 0 0}
.edocman-taskbar{padding:0 0 6px;margin:0 0 6px;list-style-type:none}
.edocman-taskbar ul{margin:0!important;padding:0!important}
.edocman-taskbar li{float:left!important;list-style-type:none!important;background-image:none!important;padding:0 5px 0 0 !important;margin:.5em 0 2px!important}
.edocman-taskbar li a:link,.edocman-taskbar li a:visited,.edocman-taskbar li a:hover{text-decoration:none}
#edocman-document{padding:0 15px 15px}
#edocman-document-details{padding:10px 0}
#edocman-document-page h1.edocman-page-heading{margin:0 0 10px!important}
#fb-share-button{display:inline}
#edocman-share-text{float:left;font-weight:700;padding-top:15px;font-size:150%}
#edocman-document-info{margin-top:15px}
#edocman-document-info table{margin-top:10px}
.edocman-table-filetype-col{width:18%}
.edocman-table-filesize-col{width:10%}
.edocman-created-date-col{width:10%;text-align:center}
.edocman-table-download-col{width:20%}
.edocman-edit-delete{width:15%}
span.error{color:red}
span.sort_by_title{font-weight:700;padding-right:5px}
a.pointer{cursor:pointer}
.edocman_upload_link{font-weight:700;padding-right:10px;font-size:150%}
.fltlft{float:left}
ul.edocman_tag_container li.edocman_tag_item{float:left;list-style:none!important;margin:0;padding:0;line-height:31px;border-radius:4px 4px 4px 4px;margin-bottom:-1px;background:#9B59BB;margin:0 5px!important}
ul.edocman_tag_container li.edocman_tag_item a{text-transform:capitalize;color:#fff;display:block;outline:medium none;padding:0 10px;text-decoration:none;line-height:20px;margin:0;font-weight:400;font-size:12px;text-shadow:0 -1px 0 rgba(0,0,0,0.25)}
.taged_label{color:#095197;float:left;font-weight:700;padding:3px 25px 7px 8px;text-transform:capitalize;background:url(../images/icon-arrow.jpg) no-repeat 104px 2px}
ul.edocman_tag_container li.edocman_tag_item a:hover,ul.edocman_tag_container li.edocman_tag_item a:active,ul.edocman_tag_container li.edocman_tag_item a:focus{background-color:#a51ce8;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);color:#FFF;text-shadow:0 -1px 0 rgba(0,0,0,0.25);border-radius:4px 4px 4px 4px}
.dm_row ul{margin:0!important;padding:0!important}
.edocman_featured{background-color:#6FA236;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);color:#FFF;text-shadow:0 -1px 0 rgba(0,0,0,0.25);vertical-align:baseline;white-space:nowrap;font-size:11.844px;border-radius:3px 3px 3px 3px;padding:2px 4px;font-weight:400;text-transform:capitalize;margin-right:8px;display:inline-block}
.edocman_hot{background-color:#F89406;border-radius:3px 3px 3px 3px;padding:2px 4px;color:#FFF;font-weight:400;text-transform:capitalize;font-size:11.844px;text-shadow:0 -1px 0 rgba(0,0,0,0.25);vertical-align:baseline;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);display:inline-block}
.edocman_new{background-color:#DD4814;border-radius:3px 3px 3px 3px;padding:2px 4px;color:#FFF;font-weight:400;text-transform:capitalize;font-size:11.844px;text-shadow:0 -1px 0 rgba(0,0,0,0.25);vertical-align:baseline;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);margin-right:8px;display:inline-block}
span.indicators{padding-left:10px}
.edocman-document{transition:all .5s;-webkit-transition:all .5s}
.edocman-sort-direction,.edocman-document-sorting{float:right}
.edocman-document-sorting{margin:0 10px 0 0}
.sortPagiBar{margin-top:5px;margin-bottom:5px}
div.sortPagiBar select{display:inline-block}
.edocman-rss-icon{display:inline-block}
[class^="edocman-icon-"],[class*="edocman-icon-"]{display:inline-block;width:14px;height:14px;margin-top:1px;*margin-right:.3em;line-height:14px;vertical-align:text-top;background-image:url(../bootstrap/img/glyphicons-halflings.png);background-position:14px 14px;background-repeat:no-repeat}
.edocman-icon-white,.nav-pills > .active > a > [class^="edocman-icon-"],.nav-pills > .active > a > [class*=" edocman-icon-"],.nav-list > .active > a > [class^="edocman-icon-"],.nav-list > .active > a > [class*=" edocman-icon-"],.navbar-inverse .nav > .active > a > [class^="edocman-icon-"],.navbar-inverse .nav > .active > a > [class*=" edocman-icon-"],.dropdown-menu > li > a:hover > [class^="edocman-icon-"],.dropdown-menu > li > a:focus > [class^="edocman-icon-"],.dropdown-menu > li > a:hover > [class*=" edocman-icon-"],.dropdown-menu > li > a:focus > [class*=" edocman-icon-"],.dropdown-menu > .active > a > [class^="edocman-icon-"],.dropdown-menu > .active > a > [class*=" edocman-icon-"],.dropdown-submenu:hover > a > [class^="edocman-icon-"],.dropdown-submenu:focus > a > [class^="edocman-icon-"],.dropdown-submenu:hover > a > [class*=" edocman-icon-"],.dropdown-submenu:focus > a > [class*=" edocman-icon-"]{background-image:url(../img/glyphicons-halflings-white.png)}
.edocman-icon-glass{background-position:0 0}
.edocman-icon-music{background-position:-24px 0}
.edocman-icon-search{background-position:-48px 0}
.edocman-icon-envelope{background-position:-72px 0}
.edocman-icon-heart{background-position:-96px 0}
.edocman-icon-star{background-position:-120px 0}
.edocman-icon-star-empty{background-position:-144px 0}
.edocman-icon-user{background-position:-168px 0}
.edocman-icon-film{background-position:-192px 0}
.edocman-icon-th-large{background-position:-216px 0}
.edocman-icon-th{background-position:-240px 0}
.edocman-icon-th-list{background-position:-264px 0}
.edocman-icon-ok{background-position:-288px 0}
.edocman-icon-remove{background-position:-312px 0}
.edocman-icon-zoom-in{background-position:-336px 0}
.edocman-icon-zoom-out{background-position:-360px 0}
.edocman-icon-off{background-position:-384px 0}
.edocman-icon-signal{background-position:-408px 0}
.edocman-icon-cog{background-position:-432px 0}
.edocman-icon-trash{background-position:-456px 0}
.edocman-icon-home{background-position:0 -24px}
.edocman-icon-file{background-position:-24px -24px}
.edocman-icon-time{background-position:-48px -24px}
.edocman-icon-road{background-position:-72px -24px}
.edocman-icon-download-alt{background-position:-96px -24px}
.edocman-icon-download{background-position:-120px -24px}
.edocman-icon-upload{background-position:-144px -24px}
.edocman-icon-inbox{background-position:-168px -24px}
.edocman-icon-play-circle{background-position:-192px -24px}
.edocman-icon-repeat{background-position:-216px -24px}
.edocman-icon-refresh{background-position:-240px -24px}
.edocman-icon-list-alt{background-position:-264px -24px}
.edocman-icon-lock{background-position:-287px -24px}
.edocman-icon-flag{background-position:-312px -24px}
.edocman-icon-headphones{background-position:-336px -24px}
.edocman-icon-volume-off{background-position:-360px -24px}
.edocman-icon-volume-down{background-position:-384px -24px}
.edocman-icon-volume-up{background-position:-408px -24px}
.edocman-icon-qrcode{background-position:-432px -24px}
.edocman-icon-barcode{background-position:-456px -24px}
.edocman-icon-tag{background-position:0 -48px}
.edocman-icon-tags{background-position:-25px -48px}
.edocman-icon-book{background-position:-48px -48px}
.edocman-icon-bookmark{background-position:-72px -48px}
.edocman-icon-print{background-position:-96px -48px}
.edocman-icon-camera{background-position:-120px -48px}
.edocman-icon-font{background-position:-144px -48px}
.edocman-icon-bold{background-position:-167px -48px}
.edocman-icon-italic{background-position:-192px -48px}
.edocman-icon-text-height{background-position:-216px -48px}
.edocman-icon-text-width{background-position:-240px -48px}
.edocman-icon-align-left{background-position:-264px -48px}
.edocman-icon-align-center{background-position:-288px -48px}
.edocman-icon-align-right{background-position:-312px -48px}
.edocman-icon-align-justify{background-position:-336px -48px}
.edocman-icon-list{background-position:-360px -48px}
.edocman-icon-indent-left{background-position:-384px -48px}
.edocman-icon-indent-right{background-position:-408px -48px}
.edocman-icon-facetime-video{background-position:-432px -48px}
.edocman-icon-picture{background-position:-456px -48px}
.edocman-icon-pencil{background-position:0 -72px}
.edocman-icon-map-marker{background-position:-24px -72px}
.edocman-icon-adjust{background-position:-48px -72px}
.edocman-icon-tint{background-position:-72px -72px}
.edocman-icon-edit{background-position:-96px -72px}
.edocman-icon-share{background-position:-120px -72px}
.edocman-icon-check{background-position:-144px -72px}
.edocman-icon-move{background-position:-168px -72px}
.edocman-icon-step-backward{background-position:-192px -72px}
.edocman-icon-fast-backward{background-position:-216px -72px}
.edocman-icon-backward{background-position:-240px -72px}
.edocman-icon-play{background-position:-264px -72px}
.edocman-icon-pause{background-position:-288px -72px}
.edocman-icon-stop{background-position:-312px -72px}
.edocman-icon-forward{background-position:-336px -72px}
.edocman-icon-fast-forward{background-position:-360px -72px}
.edocman-icon-step-forward{background-position:-384px -72px}
.edocman-icon-eject{background-position:-408px -72px}
.edocman-icon-chevron-left{background-position:-432px -72px}
.edocman-icon-chevron-right{background-position:-456px -72px}
.edocman-icon-plus-sign{background-position:0 -96px}
.edocman-icon-minus-sign{background-position:-24px -96px}
.edocman-icon-remove-sign{background-position:-48px -96px}
.edocman-icon-ok-sign{background-position:-72px -96px}
.edocman-icon-question-sign{background-position:-96px -96px}
.edocman-icon-info-sign{background-position:-120px -96px}
.edocman-icon-screenshot{background-position:-144px -96px}
.edocman-icon-remove-circle{background-position:-168px -96px}
.edocman-icon-ok-circle{background-position:-192px -96px}
.edocman-icon-ban-circle{background-position:-216px -96px}
.edocman-icon-arrow-left{background-position:-240px -96px}
.edocman-icon-arrow-right{background-position:-264px -96px}
.edocman-icon-arrow-up{background-position:-289px -96px}
.edocman-icon-arrow-down{background-position:-312px -96px}
.edocman-icon-share-alt{background-position:-336px -96px}
.edocman-icon-resize-full{background-position:-360px -96px}
.edocman-icon-resize-small{background-position:-384px -96px}
.edocman-icon-plus{background-position:-408px -96px}
.edocman-icon-minus{background-position:-433px -96px}
.edocman-icon-asterisk{background-position:-456px -96px}
.edocman-icon-exclamation-sign{background-position:0 -120px}
.edocman-icon-gift{background-position:-24px -120px}
.edocman-icon-leaf{background-position:-48px -120px}
.edocman-icon-fire{background-position:-72px -120px}
.edocman-icon-eye-open{background-position:-96px -120px}
.edocman-icon-eye-close{background-position:-120px -120px}
.edocman-icon-warning-sign{background-position:-144px -120px}
.edocman-icon-plane{background-position:-168px -120px}
.edocman-icon-calendar{background-position:-192px -120px}
.edocman-icon-random{width:16px;background-position:-216px -120px}
.edocman-icon-comment{background-position:-240px -120px}
.edocman-icon-magnet{background-position:-264px -120px}
.edocman-icon-chevron-up{background-position:-288px -120px}
.edocman-icon-chevron-down{background-position:-313px -119px}
.edocman-icon-retweet{background-position:-336px -120px}
.edocman-icon-shopping-cart{background-position:-360px -120px}
.edocman-icon-folder-close{width:16px;background-position:-384px -120px}
.edocman-icon-folder-open{width:16px;background-position:-408px -120px}
.edocman-icon-resize-vertical{background-position:-432px -119px}
.edocman-icon-resize-horizontal{background-position:-456px -118px}
.edocman-icon-hdd{background-position:0 -144px}
.edocman-icon-bullhorn{background-position:-24px -144px}
.edocman-icon-bell{background-position:-48px -144px}
.edocman-icon-certificate{background-position:-72px -144px}
.edocman-icon-thumbs-up{background-position:-96px -144px}
.edocman-icon-thumbs-down{background-position:-120px -144px}
.edocman-icon-hand-right{background-position:-144px -144px}
.edocman-icon-hand-left{background-position:-168px -144px}
.edocman-icon-hand-up{background-position:-192px -144px}
.edocman-icon-hand-down{background-position:-216px -144px}
.edocman-icon-circle-arrow-right{background-position:-240px -144px}
.edocman-icon-circle-arrow-left{background-position:-264px -144px}
.edocman-icon-circle-arrow-up{background-position:-288px -144px}
.edocman-icon-circle-arrow-down{background-position:-312px -144px}
.edocman-icon-globe{background-position:-336px -144px}
.edocman-icon-wrench{background-position:-360px -144px}
.edocman-icon-tasks{background-position:-384px -144px}
.edocman-icon-filter{background-position:-408px -144px}
.edocman-icon-briefcase{background-position:-432px -144px}
.edocman-icon-fullscreen{background-position:-456px -144px}
.icon-white,.nav>.active>a>[class^="icon-"],.nav>.active>a>[class*=" icon-"],.dropdown-menu>li>a:hover>[class^="icon-"],.dropdown-menu>li>a:hover>[class*=" icon-"],.dropdown-menu>.active>a>[class^="icon-"],.dropdown-menu>.active>a>[class*=" icon-"]{background-image:url(../images/glyphicons-halflings-white.png)}
.edocman-icon-th-large{background-position:-216px 0}
.edocman-icon-th{background-position:-240px 0}
.edocman-icon-th-list{background-position:-264px 0}
.edocman_logo{margin:0!important}
div.modal{background-clip:padding-box;background-color:#fff;border:1px solid rgba(0,0,0,0.3);border-radius:6px;box-shadow:0 3px 7px rgba(0,0,0,0.3);left:50%;margin-left:-40%;outline:medium none;position:fixed;top:5%;width:80%;z-index:1050}
a.edocman-download-link{color:#333!important}
.table-document td{padding-top:10px!important;padding-bottom:10px!important}
.edocman-document-title-col{width:45%}
.edocman-document-title-td{width:45%}
.edocman-document-category-col {width: 15%; }
.edocman-document-category-td {width: 15%; }
.edocman-description-details .edocman_thumbnail{cursor:pointer;float:left;margin:0 10px 10px 0;max-width:25%;min-width:50px}
.edocman-description-details .thumbnail{border:1px solid #ddd;border-radius:4px;box-shadow:0 1px 3px rgba(0,0,0,0.055);display:block;line-height:20px;padding:4px;transition:all .2s ease-in-out 0}
.edocman_document_details_information{font-size:11px;margin-top:-5px;font-weight:400!important;float:left}
.edocman_document_details_information > span:first-child::before{content:"";padding:0}
.edocman_document_details_information > span::before{content:" *";padding:0 3px}
@media screen and (max-width: 600px) {
#table-document{width:100%}
#table-document td:before{content:attr(data-label);float:left;text-transform:uppercase;font-weight:700}
#table-document thead{display:none}
#table-document tr{margin-bottom:10px;display:block;border-bottom:2px solid #ddd}
#table-document td{display:block;text-align:right!important;font-size:13px;border-bottom:1px dotted #ccc;width:100%}
#table-document td:last-child{border-bottom:0}
}
.edocman_download_label{font-size:11.25px}
.edocman-download-btn{padding:2px 10px!important}